<div class="container">
  <form [formGroup]="form">
    <div class="input-container">

      <input type="text" size="40" class="search" class="form-control" id="busca" formControlName="busca" required=""
        [(ngModel)]="busca">
      <label>Busca</label>
      <button class="clear" (click)="clear()">Limpar</button>

    </div>

  </form>
  <div class="resultado">
    <table class="table-fill">
      <tr class="resultados" *ngFor="let resultado of resultados">
        <a href='https://pt.wikipedia.org/wiki/?curid={{resultado.pageid}}' target="_blank">
          <td class="text-left">
            {{resultado.title}}
          </td>
        </a>
      </tr>
    </table>
  </div>
</div>